.login-nav{
    position: fixed;
    top: 0.2%;
    right: 0.1%;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
}

.translate-list{
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.translate-list li{
    margin: 0.15vh;
    width: min-content;
    visibility: hidden;
}

.dropdown-menu {
    border-radius: 10px;
    border: none;
    visibility: visible;
    box-shadow: 4px 4px 10px #153269;
}

.dropdown-menu img{
    width: 3vw;
    box-shadow: none;
}

.dropdown-content{
    width: min-content;
    height: min-content;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #153269;

}

.dropdown-content img{
    width: 5vw;
    border-radius: 5px;
    padding: 0;
}

@media(max-width: 500px){
    .dropdown-menu img{
        width: 10vw;
    }
    .dropdown-content img{
        width: 15vw;
        border-radius: 5px;
        padding: 0;
    }
    .dropdown-menu{
    max-width: 10vw;
    padding: 1%;
    }
}
