.emblem-header {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10% 30%;
    padding-right: 10%;
}
  
.emblem-header img {
    max-width: 70%;
}

.emblem-header span {
    min-width: max-content;
    white-space: nowrap;
    font-size: 10px;
    margin: 0 10% 0 10%;
}

.emblem-header div{
    min-width: max-content;
    display: flex;
    flex-direction: column;
}