/* css/index.css */
:root {
  --accent-color: #034fa3; /* ngjyra */
  --shadow-color: #153269;
}

/* Add Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accent-button {
  padding: 2.5%;
  background: linear-gradient(-45deg, var(--accent-color), #034fa3c0);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
