*{
  /* border: groove; */

}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

#login-form{
  padding: 1% 5% 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 4px 4px 10px #aaa;
}

#login-form *{
  border-radius: 10px;
  border: none;
}

#login-form label input{
  border-radius: 0%;
  border-bottom: groove;
}

#login-form label:focus{
  border: groove
}

#login-form button{
  padding: 2.5%;
  background: linear-gradient(270deg,#0ff, #0af);
}

#login-form img{
  width: 100%;
}

@media(max-width: 500px){
  #login-form{
    width: max-content;
    margin:0 5%;
  }
}

/* chromium me i hek shijetat*/
.Modal form label input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox me i hek shigjetat*/
.Modal form label input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}